/* Write your code here. */
.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  height: 100vh;
  font-family: "Roboto";
}

.inner-container {
  background-color: #cffafe;
  padding: 20px;
  width: 60%;
}
.inside-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
